footer {
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: #00FF00;
    border-top: 1px solid #CCC;
    text-align: center;
    line-height: 60px;
}
