header {
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCC;
    background-color: #FFF;
    background-image: url("/web_static/images/logo.png");
    background-repeat: no-repeat;
    background-position-x: 20px; 
}